POSTGRES_DB=mental_health_tech
POSTGRES_USER=mental_health_user
POSTGRES_PASSWORD=mental_health_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
RAW_TABLE=raw_mental_health_burnout_tech_2026
CLEAN_TABLE=clean_mental_health_burnout_tech_2026
CSV_PATH=data/mental_health_burnout_tech_2026.csv
STREAMLIT_SERVER_PORT=8501
